@model TataGamedom.Models.ViewModels.EditPasswordVM

@{
	ViewBag.Title = "EditPassword";
}

<h2>修改密碼</h2>


@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="row">
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="mt-3">
			@Html.LabelFor(model => model.OringinalPassword, htmlAttributes: new { @class = "control-label col-md-2" })
	
				@Html.EditorFor(model => model.OringinalPassword, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.OringinalPassword, "", new { @class = "text-danger" })
	
		</div>

		<div class="mt-3">
			@Html.LabelFor(model => model.CreatePassword, htmlAttributes: new { @class = "control-label col-md-2" })
		
				@Html.EditorFor(model => model.CreatePassword, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.CreatePassword, "", new { @class = "text-danger" })
		
		</div>

		<div class="mt-3">
			@Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
	
				@Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })

		</div>

		<div class="mt-3">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="確認變更" class="btn btn-primary" />

				@Html.ActionLink("取消變更", "Index", "BackendMembers", new { area = "" }, new { @class = "btn btn-danger" })
			</div>
		</div>
	</div>
}


@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
