@model TataGamedom.Models.ViewModels.EditPasswordVM

@{
	ViewBag.Title = "EditPassword";
}
@section Styles{
	<link href="~/Content/KuanForm2.css" rel="stylesheet" />

	<style>
	</style>
}



@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	@Html.ValidationSummary(true, "", new { @class = "text-danger" })

	<form id="contact">
		<div class="container1 ">
			<div class="head">
				<h2>修改密碼</h2>
			</div>


			<div class="title222">
				原始密碼
			</div>
			<div>
				@Html.EditorFor(model => model.OringinalPassword, new { htmlAttributes = new { } })<br />
				@Html.ValidationMessageFor(model => model.OringinalPassword, "", new { @class = "text-danger" })
			</div>

			<div class="title222">
				新密碼
			</div>
			<div>
				@Html.EditorFor(model => model.CreatePassword, new { htmlAttributes = new { } })<br />
				@Html.ValidationMessageFor(model => model.CreatePassword, "", new { @class = "text-danger" })
			</div>


			<div class="title222">
				確認密碼
			</div>
			<div>
				@Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { } })<br />
				@Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
			</div>

			<div>
				<button id="submit" type="submit">更新</button>

				@Html.ActionLink("取消", "Index", "BackendMembers", new { area = "" }, new { @class = "btn btn-danger copy " })
			</div>
		</div>
	</form>
}


@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
<script>

</script>