@model IEnumerable<TataGamedom.Models.ViewModels.InventoryItems.InventoryItemVM>

@{
    ViewBag.Title = "庫存明細";
}
<h2>
    庫存明細: @Model.FirstOrDefault().GameName
</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SKU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StockInSheetIndex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameKey)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SKU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StockInSheetIndex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GameKey)
        </td>
        <td>
            @Html.ActionLink("編輯", "Edit", new { Index=item.SKU })
        </td>
    </tr>
}

</table>
