<link href="~/Content/bootstrap theme.css" rel="stylesheet" />
<link href="~/Content/layoutStyle1.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
<style>
    .fs16 {
        font-size: 16px;
    }

    .fs14 {
        font-size: 14px;
    }

    th {
        font-size: 16px;
    }

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 20px;
        left: 0;
        right: 0;
    }

    .page-link {
        color: antiquewhite;
        background-color: tan;
    }

    .pagination .active .page-link {
        background-color: peru;
        border-color: goldenrod
    }

    .table {
        justify-content: center;
        align-items: center;
        text-align: justify-all;
        vertical-align: middle;
    }
</style>

@model IEnumerable<TataGamedom.Models.ViewModels.InventoryItems.InventoryItemVM>

@{
    ViewBag.Title = "庫存明細";
    var salesStatus = ViewBag.SalesStatusSelectList as IEnumerable<SelectListItem>;
    salesStatus = salesStatus.Prepend(new SelectListItem { Value = "", Text = "" });
    var criteria = ViewBag.Criteria as TataGamedom.Controllers.InventoryCriteria;
    string salesStatusName = criteria.SalesStatus.HasValue ? criteria.SalesStatus.Value.ToString() : "";
    var productId = ViewBag.ProductId;
    string gameName = @Model.FirstOrDefault() == null ? string.Empty : @Model.FirstOrDefault().GameName;
}
<h2>
    庫存明細: @gameName
</h2>

<div class="row pt-2 pb-3">
    <div class="col-6 align-self-center">
    </div>
        <div class="col-6 align-items-end">
            <div class="row justify-content-end">
                <div class="col-md-8">
                    <form method="get">
                        <div class="row fs14 text-secondary">
                            <div class="mb-3 col-md-4">
                                <label for="Index">SKU</label>
                                <input type="text" class="form-control" name="Index" id="Index" value="@criteria.Index">
                            </div>
                            <div class="mb-3 col-md-4">
                                <label for="salesStatus">紀錄區間</label>
                                <select name="salesStatus" id="salesStatus" class="form-select">
                                    @foreach (var item in salesStatus)
                                    {
                                        <option value="@item.Value" @(item.Value == salesStatusName ? "selected" : "")>@item.Text</option>
                                    }
                                </select>
                            </div>
                            <input type="hidden" name="productId" value="@productId">
                            <div class="mt-4 mb-3 col-md-4">
                                <button class="btn btn-primary"><i class="bi bi-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <table class="table table-striped table-hover table-warning mb-5">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SKU)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StockInSheetIndex)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GameKey)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SKU)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StockInSheetIndex)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GameKey)
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a href="@Url.Action("Edit", "Inventory", new { Index = item.SKU })" class="btn btn-outline-secondary btn-sm mx-1 fs14">
                                <i class="bi bi-pencil-square"></i>編輯
                            </a>           
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="col-md-12 d-flex justify-content-center">
        <a href="@Url.Action("Index")" class="btn btn-outline-secondary" style="font-size:16px"><i class="bi bi-house-door"></i>回首頁</a>
    </div>
