@model IEnumerable<TataGamedom.Models.ViewModels.Games.GameIndexVM>

@{
    ViewBag.Title = "Index";
}

@section Styles{

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0-alpha3/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.4.1/css/responsive.bootstrap5.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css" rel="stylesheet">
    <style>
        thead {
            background-color: goldenrod;
            color: white;
        }

        .vertical-align-middle {
            vertical-align: middle;
        }
    </style>
}

<h2>遊戲管理列表</h2>
<div class="mb-3" style="text-align: right;">
    @Html.ActionLink("新增遊戲", "Create", null, new { @class = "btn btn-light" })
</div>

<div>
    <table class="table" id="myTable">
        <thead>
            <tr>
                <th class="text-center vertical-align-middle">
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th class="text-center vertical-align-middle">
                    @Html.DisplayNameFor(model => model.ChiName)
                </th>
                <th class="text-center vertical-align-middle">
                    @Html.DisplayNameFor(model => model.Classification)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsRestrict)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedBackendMemberName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedTime)
                </th>
                <th>編輯</th>
                <th>編輯封面</th>
                <th>評論管理</th>
                <th>新增商品</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center vertical-align-middle">
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td class="text-center vertical-align-middle">
                    @Html.DisplayFor(modelItem => item.ChiName)
                </td>
                <td class="text-center vertical-align-middle">
                    @Html.DisplayFor(modelItem => item.Classification)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsRestrict)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBackendMemberName)
                </td>
                <td>
                    @item.CreatedTime.ToString("yyyy-MM-dd")
                </td>
                <td>
                    <a href="@Url.Action("Edit", new { id = item.Id })" class="icon-link">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("EditGameCover", new { id = item.Id })" class="icon-link">
                        <i class="fa-regular fa-image"></i>
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Index","GameComments", new { id = item.Id })" class="icon-link">
                        <i class="fa-regular fa-comments"></i>
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("AddProduct", new { id = item.Id })" class="icon-link">
                        <i class="fa-solid fa-circle-plus"></i>
                    </a>
                </td>
            </tr>
        }
            </tbody>

    </table>
</div>

@section Scripts{
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0-alpha3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.4.1/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.4.1/js/responsive.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.13.1/datatables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                responsive: true,
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.4/i18n/zh-HANT.json',
                }
            });
        });
    </script>
}
