@model IEnumerable<TataGamedom.Models.ViewModels.News.NewsIndexVM>

@section Styles{

	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.5/af-2.6.0/b-2.4.0/b-html5-2.4.0/date-1.5.0/sb-1.5.0/sl-1.7.0/datatables.min.css" rel="stylesheet" />
	<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css" rel="stylesheet">

	<style>
		thead {
			background-color: goldenrod;
			color: white;
		}

		.vertical-align-middle {
			vertical-align: middle;
		}
	</style>
}

<h2>新聞總覽</h2>

<table class="table" id="myTable">
	
	@Html.ActionLink("新增新聞", "Create", null, new { @class = "btn btn-danger btn-lg" })

	<thead>

		<tr>
			<th width="300px">
				@Html.DisplayNameFor(model => model.Title)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ScheduleDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.BackendMemberName)
			</th>
			@*<th>
				@Html.DisplayNameFor(model => model.GameClassificationName)
			</th>*@
			<th>
				@Html.DisplayNameFor(model => model.NewsCategoryName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ViewCount)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.LikeCount)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ActiveFlag)
			</th>
			<th>
				查看留言
			</th>
			<th>
				編輯
			</th>
			<th>
				預覽
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td  width="300px">
					@Html.DisplayFor(modelItem => item.Title)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ScheduleDate)
					@*<span>@item.ScheduleDate.ToShortDateString()</span>
					<br />
					<span>@item.ScheduleDate.ToShortTimeString()</span>*@
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.BackendMemberName)
				</td>				@*<td>
			@Html.DisplayFor(modelItem => item.GameClassificationName)
		</td>*@

				<td>
					@Html.DisplayFor(modelItem => item.NewsCategoryName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ViewCount)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.LikeCount)
				</td>
				<td>
					@*@Html.DisplayFor(modelItem => item.ActiveFlagText)*@
					@if (item.ActiveFlag == false)
					{
						<button class="btn btn-danger btn-sm ">已隱藏</button>
					}
					else if (item.ActiveFlag == true)
					{
						<button class="btn btn-success btn-sm ">公開</button>
					}
				</td>
				<td>
					<a href="@Url.Action("Index", "NewsComments", new { newsId = item.Id })">
						@*<a href="@Url.Action("index","Newscomments")">*@
						<i class="fa-regular fa-comments ms-3"></i>
					</a>
				</td>
				<td>
					<a href="@Url.Action("Edit", new { id = item.Id })">
						<i class="fas fa-edit ms-2"></i>
					</a>
				</td>

				<td>
					<a href="@Url.Action("show", new { id = item.Id })">
						偷看一下
					</a>
				</td>

			</tr>
		}
	</tbody>
</table>

@*<div class="pagination-container">
		<ul class="pagination justify-content-center">
			@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "newsList" }))
		</ul>
	</div>*@

@section Scripts{
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.5/af-2.6.0/b-2.4.0/b-html5-2.4.0/date-1.5.0/sb-1.5.0/sl-1.7.0/datatables.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>
	<script>
		$(document).ready(function () {
			$('#myTable').DataTable({
				dom: "Qfrtip",
				responsive: true,
				language: {
					url: '//cdn.datatables.net/plug-ins/1.13.4/i18n/zh-HANT.json',
				}
			});
		});
	</script>



}
