@model TataGamedom.Models.ViewModels.News.NewsEditVM
@*@{
	Layout = "~/Views/Shared/_8TataLayout.cshtml";
}*@
@section Styles{


	<link href="~/Content/newsshow.css" rel="stylesheet">
	<style>

.header {
	position: relative;
	background-image: url("/Files/NewsImages/@Model.CoverImg");
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #000000;
	background-size: cover;

}
	</style>
}
<header class="header">
	<div class="container pt-5">
		<h1 class="text-white " style="margin:50px; font-size:80px;">@Html.Raw(Model.Title)</h1>
	</div>
</header>
@{
	ViewBag.Title = "Show";
}


<div class=" text-center">
	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()


		<div class="row">
			@Html.ValidationSummary(true, "", new { @class = "text-danger" })

			<div class="mt-3">
				@Html.Raw(Model.Content)
			</div>

			@*<div class="mt-3">
					<img src="/Files/NewsImages/@Model.CoverImg" />
				</div>*@

		</div>
	}
</div>


@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}