<link href="~/Content/bootstrap theme.css" rel="stylesheet" />
<link href="~/Content/layoutStyle1.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />

<style>
    .fs16 {
        font-size: 16px;
    }

    .fs14 {
        font-size: 14px;
    }

    th {
        font-size: 16px;
    }

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 20px;
        left: 0;
        right: 0;
        width: 100%;
    }


    .page-link {
        color: antiquewhite;
        background-color: tan;
    }

    .pagination .active .page-link {
        background-color: peru;
        border-color: goldenrod
    }

    .table {
        justify-content: center;
        align-items: center;
        text-align: justify-all;
        vertical-align: middle;
    }

    .imgW50P0 {
        padding: 0;
        width: 50%;
    }
</style>

@model IEnumerable<TataGamedom.Models.EFModels.Supplier>
@Html.Partial("_Notification")

@{
    ViewBag.Title = "廠商清單";
}

<h2>廠商清單</h2>
<div class="row pt-2 pb-3">
    <div class="col-1 align-self-center">
        <a href="@Url.Action("Create", "Suppliers")" class="btn btn-outline-warning fs16">
            <i class="bi bi-plus-circle"></i>新增單筆
        </a>
    </div>
    <div class="col-1 align-self-center">
        <a href="@Url.Action("ImportExcel", "Suppliers")" class="btn btn-outline-warning fs16">
            <i class="bi bi-filetype-xlsx"></i>匯入多筆
        </a>
    </div>
</div>
<table class="table table-striped table-hover table-warning" id="supplierTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <div class="w-75 btn-group" role="group">
                    <a href="@Url.Action("Edit", "Suppliers", new { id = item.Id })" class="btn btn-outline-secondary btn-sm mx-1 fs14">
                        <i class="bi bi-pencil-square"></i>編輯
                    </a>
                    <a href="@Url.Action("Details", "Suppliers", new { id = item.Id })" class="btn btn-outline-secondary btn-sm mx-1 fs14">
                        <i class="bi bi-layout-text-window"></i>明細
                    </a>
                    <a href="@Url.Action("Delete", "Suppliers", new { id = item.Id })" class="btn btn-outline-danger btn-sm mx-1 fs14">
                        <i class="bi bi-trash3"></i>
                    </a>
                </div>
            </td>
        </tr>
    }

    <div id="test">

    </div>

</table>
@section Scripts{
    <script>
         fetch("https://localhost:44398/api/SuppliersApi")
            .then(response => {
                return response.json();
            })
            .then(data =>{
                data.forEach(supplier => {
                    const name = `<li>${supplier.name}</li>`;

                    document.querySelector('#test').insertAdjacentHTML('beforeend', name)
                })
            })
            .catch(error => console.log(error));
    </script>
    }



