@model TataGamedom.Models.ViewModels.Members.BackendMembersListVM

@{
	ViewBag.Title = "Create";
	//Layout = "~/Views/Shared/_8tataLayout.cshtml";
}
@section Styles{
	<link href="~/Content/KuanForm2.css" rel="stylesheet" />

	<style>

	</style>
}


@using (Html.BeginForm("Create", "BackendMembersList", FormMethod.Post, new { id = "kuan" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })

	<form id="contact">
		<div class="container1">
			<div class="head">
				<h2>創建管理員</h2>
			</div>

			<div class="title222">
				管理員名稱
			</div>
			<div>
				@Html.EditorFor(model => model.Name, new { htmlAttributes = new { } })<br />
				@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
			</div>

			<div class="title222">
				帳號
			</div>
			<div>
				@Html.EditorFor(model => model.Account, new { htmlAttributes = new { } })<br />
				@Html.ValidationMessageFor(model => model.Account, "", new { @class = "text-danger" })
			</div>

			<div class="title222">
				密碼
			</div>
			<div>
				@Html.PasswordFor(model => model.Password, new { htmlAttributes = new { } })<br />
				@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
			</div>

			<div class="title222">
				確認密碼
			</div>
			<div>
				@Html.PasswordFor(model => model.ConfirmPassword, new { htmlAttributes = new { } })<br />
				@Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
			</div>

			<div class="title222">
				生日
			</div>
			<div>
				@Html.EditorFor(model => model.Birthday, new { htmlAttributes = new {@type="date"} })<br />
				@Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger"})
			</div>

			<div class="title222">
				Email
			</div>
			<div>
				@Html.EditorFor(model => model.Email, new { htmlAttributes = new { } })<br />
				@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
			</div>

			<div class="title222">
				手機
			</div>
			<div>
				@Html.EditorFor(model => model.Phone, new { htmlAttributes = new { } })<br />
				@Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
			</div>

			<div class="title222">
				管理員權限
			</div>
			<div>
				@Html.DropDownListFor(model => model.BackendMembersRoleId, ViewBag.BackendMembersRoleId as SelectList, "", htmlAttributes: new { })<br />
				@Html.ValidationMessageFor(model => model.BackendMembersRoleId, "", new { @class = "text-danger" })
			</div>

			<button id="submit" type="submit">創建</button>
			@Html.ActionLink("取消", "Index", "BackendMembersList", new { area = "" }, new { @class = "btn btn-danger copy " })
		</div>
</form>

}

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
	<script src="~/Scripts/KuanForm.js"></script>

}

