@model TataGamedom.Models.ViewModels.Members.BackendMembersEditVM

@{
	ViewBag.Title = "Edit";
}
@section Styles{
	<link href="~/Content/KuanForm2.css" rel="stylesheet" />

	<style>
		.cursor-pointer{
			cursor:pointer;
		}
	</style>
}

@using (Html.BeginForm("Edit", "BackendMembersList", new { id = Model.Id }, FormMethod.Post))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	@Html.HiddenFor(model => model.Id)

	<form id="contact">
		<div class="container1 ">
			<div class="head">
				<h2>修改管理員權限</h2>
			</div>

			<div class="title222">
				管理員名稱
			</div>
			<div>
				@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @readonly = "readonly" } })<br />
				@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
			</div>

			<div class="title222">
				管理員帳號
			</div>
			<div>
				@Html.EditorFor(model => model.Account, new { htmlAttributes = new { @readonly = "readonly" } })<br />
				@Html.ValidationMessageFor(model => model.Account, "", new { @class = "text-danger" })
			</div>

			<div class="title222">
				管理員權限
			</div>
			<div>
				@Html.DropDownListFor(model => model.BackendMembersRoleId, ViewBag.BackendMembersRoleId as SelectList, "", htmlAttributes: new { })<br />
				@Html.ValidationMessageFor(model => model.Account, "", new { @class = "text-danger" })
			</div>

			<div class="mt-3">
				<button id="submit" type="submit" class="me-2">儲存</button>
				@Html.ActionLink("取消", "Index", "BackendMembersList", new { area = "" }, new { @class = "btn btn-danger copy " })
			</div>
		</div>
	</form>
}
<div>
	@if (Model.ActiveFlag == true)
	{
		using (Html.BeginForm("Delete", "BackendMembersList", new { id = Model.Id }, FormMethod.Post, new { @id = "stopForm" }))
		{
			@Html.AntiForgeryToken()
			<div id="btnStop" class="cursor-pointer">
				<img src="~/Files/NewsImages/stop.png" />
			</div>
		}
	}
	else
	{
		using (Html.BeginForm("Reduction", "BackendMembersList", new { id = Model.Id }, FormMethod.Post, new { @id = "restoreForm" }))
		{
			@Html.AntiForgeryToken()
			<span>&nbsp;</span>
			<div id="btnRestore" class="cursor-pointer">
				<img src="~/Files/NewsImages/re.png" />
			</div>
		}
	}
</div>


		@section Scripts {
			@Scripts.Render("~/bundles/jqueryval")
			<script>
					document.getElementById("btnStop").addEventListener("click", function (e) {
						e.preventDefault();
						var confirmed = confirm("您是否要停權該管理員？");
						if (confirmed) {
							alert("已將管理員停權！");
							window.location.href = "@Url.Action("Index")";
							document.getElementById("stopForm").submit();
						}
					});
				</script>
				<script>
					document.getElementById("btnRestore").addEventListener("click", function (e) {
						e.preventDefault();
						var confirmed = confirm("您是否要復原該管理員權限？");
						if (confirmed) {
							alert("復原成功！");
							window.location.href = "@Url.Action("Index")";
							document.getElementById("restoreForm").submit();
						}
					});
				</script>
		}
