@model TataGamedom.Models.ViewModels.Members.MembersListVM

@{
	ViewBag.Title = "Details";
}

<h2>會員詳細資訊</h2>

<div class="container d-flex justify-content-center align-items-center" >
	<hr />
	<dl class="dl-horizontal mt-5">
		<dt>
			@Html.DisplayNameFor(model => model.Name)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Name)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Account)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Account)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Birthday)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Birthday)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Email)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Email)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Phone)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Phone)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.ActiveFlag)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ActiveFlagText)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.RegistrationDate)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.RegistrationDate)
		</dd>
		<div class="d-flex">
			@Html.ActionLink("返回", "MembersList", null, new { @class = "btn btn-primary " })
			@if (Model.ActiveFlag == true)
			{
				using (Html.BeginForm("Delete", "Members", new { id = Model.Id }, FormMethod.Post, new { id = "stopForm" }))
				{
					@Html.AntiForgeryToken()
					<span>&nbsp;</span>
					<button id="btnStop" class="btn btn-danger ">停權</button>
				}
			}
			@if (Model.ActiveFlag == false)
			{
				using (Html.BeginForm("Reduction", "Members", new { id = Model.Id }, FormMethod.Post, new { id = "restoreForm" }))
				{
					@Html.AntiForgeryToken()
					<span>&nbsp;</span>
					<button id="btnRestore" class="btn btn-success">復原</button>
				}
			}
		</div>
	</dl>
</div>
@section Scripts {

	<script>
        document.getElementById("btnStop").addEventListener("click", function (e) {
            e.preventDefault();
            var confirmed = confirm("您是否要停權該會員？");
            if (confirmed) {
                alert("已將會員停權！");
                window.location.href = "@Url.Action("MembersList", "Members")";
                document.getElementById("stopForm").submit();
            }
		});
	</script>
	<script>
        document.getElementById("btnRestore").addEventListener("click", function (e) {
            e.preventDefault();
            var confirmed = confirm("您是否要復原該會員？");
            if (confirmed) {
                alert("復原成功！");
                window.location.href = "@Url.Action("MembersList", "Members")";
                document.getElementById("restoreForm").submit();
            }
        });
	</script>
}
