@model TataGamedom.Models.ViewModels.GameComments.GameCommentDetailVM

@{
    ViewBag.Title = "Detail";
}
@section Styles{
    <link href="~/Content/layoutStyle1.css" rel="stylesheet" />
    <link href="~/Content/bootstrap theme.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/Content/YiyierStyle.css">
}
<div class="container">
    <h1 class="main_heading">遊戲評論</h1>

    <div>
        <hr />
        <div class="mb-3">
            @Html.LabelFor(model => model.GameName, htmlAttributes: new { @class = "form-label col-md-2" })

            @Html.EditorFor(model => model.GameName, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            @Html.HiddenFor(model => model.GameName)
        </div>
        <div class="mb-3">
            @Html.LabelFor(model => model.MemberName, htmlAttributes: new { @class = "form-label col-md-2" })

            @Html.EditorFor(model => model.MemberName, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            @Html.HiddenFor(model => model.MemberName)
        </div><div class="mb-3">
            @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "form-label col-md-2" })

            @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            @Html.HiddenFor(model => model.Content)
        </div><div class="mb-3">
            @Html.LabelFor(model => model.Score, htmlAttributes: new { @class = "form-label col-md-2" })

            @Html.EditorFor(model => model.Score, new { htmlAttributes = new { @class = "form-control target", @disabled = "disabled" } })
            @Html.HiddenFor(model => model.Score)
        </div><div class="mb-5">
            @Html.LabelFor(model => model.CreatedTime, htmlAttributes: new { @class = "form-label col-md-2" })

            @Html.EditorFor(model => model.CreatedTime, new { htmlAttributes = new { @class = "form-control target", @disabled = "disabled" } })
            @Html.HiddenFor(model => model.CreatedTime)
        </div>
</div>

    <div>
        <div class="mb-3" style="display: flex; justify-content: flex-end;">
            @Html.ActionLink("返回", "Index", null, new { @class = "btn btn-primary btnColor" })
            @if (Model.ActiveFlag)
            {
                using (Html.BeginForm("Delete", "GameComments", new { id = Model.Id }, FormMethod.Post))
                {
                    <span>&nbsp;</span>
                    <input type="submit" value="刪除" class="btn btn-danger btnDelete" />
                }
            }
            else
            {
                using (Html.BeginForm("Restore", "GameComments", new { id = Model.Id }, FormMethod.Post))
                {
                    <span>&nbsp;</span>
                    <input type="submit" value="復原" class="btn btn-success btnColor" />
                }
            }
        </div>
    </div>
</div>