@model TataGamedom.Models.EFModels.StandardProduct

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StandardProduct</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product.Index)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Index)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AutoOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AutoOrder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
